---
import Layout from '../../layouts/Layout.astro';
import DocsSidebar from '../../components/docs/DocsSidebar.astro';
import DocsContent from '../../components/docs/DocsContent.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const docs = await getCollection('docs');
  return docs.map(doc => ({
    params: { slug: doc.slug },
    props: { doc }
  }));
}

const { doc } = Astro.props;
---

<Layout title={`${doc.data.title} - Documentation`}>
  <div class="bg-gray-50 min-h-screen">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <DocsSidebar currentSlug={doc.slug} />
        <DocsContent content={doc} />
      </div>
    </div>
  </div>
</Layout>
