---
import Layout from '../layouts/Layout.astro';
import AboutHero from '../components/about/AboutHero.astro';
import MissionStatement from '../components/about/MissionStatement.astro';
import CampInfo from '../components/about/CampInfo.astro';

---

<Layout title="About Us">
  <main class="container mx-auto px-4 py-8">
    <AboutHero 
      title="About Us"
      description="Empowering the Dzaleka community through digital connectivity"
    />
    <MissionStatement />
    <CampInfo />
  </main>
</Layout>