---
import Layout from './Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PageViewCounter from '../components/analytics/PageViewCounter.astro';

interface Props {
	title: string;
	description?: string;
	keywords?: string;
	ogImage?: string;
}

const { title, description, keywords, ogImage } = Astro.props;
---

<Layout title={title} description={description} keywords={keywords} ogImage={ogImage}>
  <Header />
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
  <PageViewCounter />
</Layout>
